

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
	}
body{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
div.content{
	width: 100%;
	height: 100%;
}




header.aitu-header{
	width: 100%;
	padding: 20px;
	background: linear-gradient(135deg, #17C5FF, #2874A6);
	border-bottom: 2px solid black;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position:relative;
}
h1#header-title{
	font-size: 4.5em;
	font-variant: small-caps;
	color: #fff;
	text-shadow: 15px 10px 25px #181218;
	font-family: Bahnschrift, serif;
	font-weight: normal;
	letter-spacing: 1px;
	color:black;
}
img#aitu-logo{
	display: block;
	max-width: 100%;
	height: 100px !important;
}





div.main{
	width: 100%;
	display: block;
	position: relative;
	top: 25%;
	flex-direction: row-reverse;
}
div.article{
	flex: none;
	max-width: 100%;
}
aside.sidebar{
	flex: none;
	max-width: 100%;
	padding: 15px;
	border-left: 2px solid black;
	background: #34495E;
}


div.introduction{
	width: 100%;
	display: block;
	margin:0 auto;
	-webkit-box-shadow: 0px 0px 34px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 34px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 34px 5px rgba(0,0,0,0.75);
margin-bottom: 15px;
}
div.fotorama{	
	max-width: 100%;
	
	padding: 15px;
	display: flex;
	justify-content: center;
}
div.intro{
	display: flex;
	align-items: center;
	max-width: 100%;
	min-height: 100%;
	height: 70vh;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-variant: small-caps;


}
video{
	-o-object-fit: cover;
    object-fit: cover;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100vh;
	min-height: 100%;
}
h5#intro-title{
	width: 100%;
	display: block;
	text-align: center;
	padding: 15px;
	font-size: 2.5em;
	color: white;
}
p#intro-info{
	display: block;
	padding: 10px;
	color: white;
	font-size: 18px;
}



h2#clubs-list-title{
	width: 100%;
	font-size: 3.5em;
	text-align: center;
	padding: 15px;
	display: block;
	background: linear-gradient(135deg, aqua, #2874A6);
	color: #000;
	letter-spacing: 2px;
	font-family: Arial, sans-serif;

}
div.clubs{
padding: 10px;
}
div.clubs-row{
	display: flex;
}
div.clubs-row-item{
	flex: 0 0 33.3333%;
	max-width: 33.3333%;
	text-align: center;
	margin: 25px 0;
}
div.clubs-row-item:hover{
	background: #2874A6;
}
h3.club-title{
	font-size: 2em;
	padding: 10px;
	font-family: Bahnschrift, sans-serif;
}
p.club-info{
	font-size: 20px;
}




dl#list-form{
	width: 100%;
	padding: 15px;
}
dt.list-title{
	display: block;
	text-align: center;
	font-variant: small-caps;
	font-size: 2.5em;
	padding: 10px;
	color: #fff;
	border: 2px solid aqua;
	border-top: none;
	width: 100%;
}
dd.list-element{
	display: list-item;
	list-style-type: disc;
	font-size: 15px;
	padding: 10px;
	border: 2px solid black;
	margin: 10px 0;
	color: #fff;
}

div.options{
	width: 100%;
}
h4#options-title{
	position: relative;
	left: 10%;
	max-width: 80%;
	border-radius: 50px;
	margin-bottom: 15px;
	display: block;
	text-align: center;
	background: linear-gradient(135deg, aqua, #2874A6);
	padding: 10px;
	font-size: 2.5em;
	font-variant: small-caps;
	font-family: Arial, sans-serif;
}
div.options-row{
	display: flex;
}
div.options-row-item{
	flex: 0 0 33.3333%;
	max-width: 33.3333%;
}
ul.options-list{
	padding: 15px;
	border: 2px solid black;
	background: rgba(0,0,0, 0.8);
}
li.options-list-item{
	display: block;
	text-align: center;
	margin: 15px 0;
	font-size: 25px;
}
a.options-link{
	text-decoration: none;
	color: white;
	font-size: 25px;

}
a.options-link:hover{
	color: #2874A6;
	font-size: 26px;
}





footer.footer{
	width: 100%;
	display: flex;
	border-top: none;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	background: #17202A;
}
div.copyright{
	flex:  0 0 50%;
	max-width: 50%;
	color: white;
}
div.socnet{
	color: white;
	flex: 0 0 50%;
	max-width: 50%;
	text-align: center;
}
div.icons{
	display: flex;
}

a.footer-link{
	display: block;
	flex: 0 0 33.3333%;
	max-width: 33.3333%;
	font-size: 50px;
	color: white;
}
a.footer-link:hover{
	color: aqua;
}